# .(ドット)で始まるファイル
.*

# Thumbnails
._*

# gitignoreは無視しない
!/.gitignore

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Files that might appear on external disk
.Trashes
.Spotlight-V100

# Ignore other unneeded files.
*.swp
*~
.project
.DS_Store
.idea
.secret
